@using System.Diagnostics
@model IEnumerable<SZPushService.Model.Message>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/index.js"></script>
<div>
    @Html.ActionLink("Config", "Key", null, new { @class = "btn btn-default navi" })
</div>
@{
    Stopwatch s = Stopwatch.StartNew();
}
@using (Html.BeginForm())
{
    <fieldset>
        @if (ViewBag.filter != null)
        {
            @Html.DropDownList("filter", (IEnumerable<SelectListItem>) ViewBag.filter, new {@class = "form-control"})
        }
    </fieldset>
}
@foreach (var item in Model)
{
    <h3>@item.Source</h3>
    @Html.Raw(item.Html)
    <hr />
}
@{
    s.Stop();
    ViewBag.debugInfo += String.Format("View rendering cost {0}. ",s.ElapsedMilliseconds);
}

<div>
    @Html.ActionLink("Next Page", "Index", new {page=ViewBag.nextPage}, new { @class = "btn btn-default navi" })
</div>

<script>
    console.log("@ViewBag.debugInfo");
</script>