@using System.Diagnostics
@model IEnumerable<SZPushService.Model.Message>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/index.js"></script>
<div>
    @Html.ActionLink("Config", "Key", null, new { @class = "btn btn-default navi" })
</div>
@{
    Stopwatch s = Stopwatch.StartNew();
}
@using (Html.BeginForm())
{
    <fieldset>
        @if (ViewBag.filter != null)
        {
            @Html.DropDownList("filter", (IEnumerable<SelectListItem>) ViewBag.filter, new {@class = "form-control"})
        }
    </fieldset>
}
@foreach (var item in Model)
{
    <h3>@item.Source</h3>
    if(DateTime.UtcNow - item.Timestamp < TimeSpan.FromDays(1.0))
    {
        <h5>@((item.Timestamp+TimeSpan.FromHours(8.0)).ToString("HH:mm"))</h5>
    }
    else
    {
        <h5>@((item.Timestamp+TimeSpan.FromHours(8.0)).ToString("MM-dd HH:mm"))</h5>
    }

    @Html.Raw(item.Html.Replace("http://imgcdn.guangdiu.com/328d93d2428093780be3856d1987289d.jpg?imageView2/2/w/224/h/224?0.3852673893163163", "http://imgcdn.guangdiu.com/328d93d2428093780be3856d1987289d.jpg?imageView2/2/w/224/h/224"))
    <hr />
}
@{
    s.Stop();
    ViewBag.debugInfo += String.Format("View rendering cost {0}. ",s.ElapsedMilliseconds);
}

<div>
    @Html.ActionLink("Next Page", "Index", new {page=ViewBag.nextPage,filter=ViewBag.selectedKeyId}, new { @class = "btn btn-default navi" })
</div>

<script>
    console.log("@ViewBag.debugInfo");
</script>